.container {
    display: flex;

}

.imgAdd {
    width: 32px;
    height: 32px;
    display: block;

}

.addBtn {
    background-color: white;
    border: none;
    text-align: center;
    display: flex;
    margin: 0 auto;
}

.addBtn:hover {
    opacity: 0.8;
    cursor: pointer;
    color: var(--brandColor);
}

.text {
    font-size: 1.1rem;
    margin: auto;
}