 .inputName,
 .btnAdd,
 .input {
     display: block;
 }

 .btnAdd {
     background-color: rgba(0, 128, 0, 0.712);
     color: white
 }

 .btnClose {
     background-color: rgba(128, 128, 128, 0.205)
 }

 .form {
     text-align: center;
     max-width: 320px;
     padding: 5px;
     background-color: rgba(0, 0, 255, 0.041);
     border-radius: 10%;
     border-color: var(--brandColor);

 }

 .form input,
 .form button {
     font-size: 1rem;
     padding: 10px;
     width: 280px;
     border-radius: 6px;
     border: 1px solid #dddfe2;
     margin: 10px auto;
 }

 .form input:focus,
 .form input:focus-visible {
     border-color: var(--brandColor);
     box-shadow: 0 0 0 2px #e7f3ff;
     caret-color: var(--brandColor);
     outline: none;
 }

 .form button:hover {
     color: white;
     background: var(--brandColor);
     place-content: center;
     opacity: 0.8;
 }